<html>

<body>
    <nav>
        <form>
            <div class="search-style">
                <input id="searchbar" type="text" [ngFormControl]="searchTerm" placeholder="Search games..." list="games" [(ngModel)]="term">
                <button type="submit" (click)="searchChannels(term, limit)">Search</button>
                <datalist id="games">
                        <option *ngFor="#game of games | async">{{game.name}}</option>
                </datalist>
            </div>
            <div class="select-style">
                <select [(ngModel)]="limit" (ngModelChange)="searchChannels(term, limit)">
                    <option value="25" selected>View 25</option>
                    <option value="50">View 50</option>
                    <option value="75">View 75</option>
                    <option value="100">View 100</option>
                </select>
            </div>
        </form>
    </nav>
    <router-outlet></router-outlet>
    <div class="game_grid">
        <h1>Current streams playing {{term}}</h1>
        <div *ngIf="streams == 0">
            <h3>No channels live</h3>
        </div>
        <div class="game" *ngFor="#stream of streams">
            <a style ="text-decoration:none;" href="http://www.twitch.tv/{{stream.channel.name}}">
                <div class="image">
                    <img src={{stream.preview.medium}} height="180" width="320">
                </div>
            </a>
           <div class="meta">
                <a class="status" href="http://www.twitch.tv/{{stream.channel.name}}">{{stream.channel.status}}</a>
                <a class="name" href="http://www.twitch.tv/{{stream.channel.name}}/profile">{{stream.channel.display_name}}</a>
                <p class="data">with {{numFormat(stream.viewers)}} viewers @ {{roundFps(stream.average_fps)}} FPS</p>
           </div>
        </div>
    </div>
</body>

</html>