<html>

<body>
    <router-outlet></router-outlet>
    <div class="game_grid">
        <h1>Top Twitch Games</h1>
        <div class="game" *ngFor="#top of top_games">
            <a class="game" style ="text-decoration:none;" href="http://www.twitch.tv/directory/game/{{top.game.name}}">
                <div class="image">
                    <img src={{top.game.box.medium}} height="190" width="136">
                </div>
                <div>
                    <p class="name">{{top.game.name}}</p>
                    <p class="data">{{numFormat(top.viewers)}} viewers</p>
                    <p class="data">{{numFormat(top.channels)}} channels live</p>
                </div>
            </a>
        </div>
    </div>
    
    <div class="stream_grid">
        <h1>Featured Streams</h1>
        <div class ="game" *ngFor="#stream of featured_streams">
            <a class="game" style="text-decoration:none;" href="{{stream.stream.channel.url}}">
                <div class="image">
                    <img src="{{stream.stream.preview.medium}}" height="180" width="320">
                </div>
            </a>
                <div>
                    <div class="meta">
                        <a class="profile" href="http://twitch.tv/{{stream.stream.channel.display_name}}/profile">{{stream.stream.channel.display_name}}</a> 
                        <p class="current_game">playing {{stream.stream.channel.game}}</p>
                        <p class="data">with {{numFormat(stream.stream.viewers)}} viewers</p>
                    </div>
                </div>
        </div>
    </div>
</body>

</html>