<html>

<body>
    <h1>Simple Twitch</h1>
    <nav>
        <form>
            <input id="searchbar" type="text" [ngFormControl]="searchTerm" placeholder="search games..." list="games" [(ngModel)]="term">
            <datalist id="games">
                    <option *ngFor="#item of items | async">{{item.name}}</option>
            </datalist>
            <a href="http://www.twitch.tv/directory/game/{{term}}">Go</a>
        </form>
    </nav>
    <button (click)="getTopGames()">Click To Get Top Games</button>
    <router-outlet></router-outlet>
    <div class="game_grid">
        <h1>Top Twitch Games</h1>
        <div class="game" *ngFor="#top of top_games">
            <a class="game" style ="text-decoration:none;" href="http://www.twitch.tv/directory/game/{{top.game.name}}">
                <div class="image">
                    <img src={{top.game.box.medium}} height="190" width="136">
                </div>
                <div class="meta">
                    <p class="name">{{top.game.name}}</p>
                    <p class="data">{{top.viewers}} viewers</p>
                    <p class="data">{{top.channels}} channels live</p>
                </div>
            </a>
        </div>
    </div>
</body>

</html>