<html>

<body>
    <nav>
        <form>
            <input id="searchbar" type="text" [ngFormControl]="searchTerm" placeholder="search games..." list="games" [(ngModel)]="term">
            <button type="submit" (click)="searchVideos(term, limit)">Search</button>
            <datalist id="games">
                    <option *ngFor="#game of games | async">{{game.name}}</option>
            </datalist>
            <div class="select-style">
                <select [(ngModel)]="limit" (ngModelChange)="searchVideos(term, limit)">
                    <option value="25" selected>View 25</option>
                    <option value="50">View 50</option>
                    <option value="75">View 75</option>
                    <option value="100">View 100</option>
                </select>
            </div>
        </form>
    </nav>
    <router-outlet></router-outlet>
    <div class="game_grid">
        <h1>Top videos for {{term}}</h1>
        <div *ngIf="videos == 0">
            <h3>No videos found</h3>
        </div>
        <div class="game" *ngFor="#video of videos">
            <a style ="text-decoration:none;" href="{{video.url}}">
                <div class="image">
                    <img src={{video.preview}} height="240" width="320">
                </div>
            </a>
            <div class="meta">
                    <a class="status" href="{{video.url}}">{{video.title}}</a>
                    <a class="video_name" href="http://www.twitch.tv/{{video.channel.display_name}}/profile">{{video.channel.display_name}} on {{strAsDate(video.recorded_at) | date}}</a>
                    <p class="video_data">{{numFormat(video.views)}} views. Length: {{secToHours(video.length)}}</p>
            </div>
        </div>
    </div>
</body>

</html>